<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><%= title_text %></title>
    <%- include('link.ejs') %>
</head>
<%- include('header.ejs') %>
<body>

</body>
<%- include('script.ejs') %>
<%- include('footer.ejs') %>
</html>